
/*Viaplay hacks*/

.labels {
    height: 84px !important;
}

/* Netflix hacks*/

span.boxShot-166 {
    height: 267px !important;
    background-color: white;
}

.lockup {
    height: 266px !important;
}


/*Styling*/
.movielens_stars {
    width: 150px;
    margin-left: 18px;
}

.movielens_star {

    float: left;

    /*display: inline-block;*/
    display: block;
    width: 13px;
    height: 26px;
    margin-top: 1px;
    line-height: 14px;
    /*vertical-align: text-top;*/
    
    background-image: url(https://movielens.org/images/stars-26.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 130px 26px;
}

.movielens_star.rating {
    background-position: -26px 0;    
}

.movielens_star.rating.right-half {
    background-position: -39px 0;  
}


.movielens_star.prediction {
    background-position: -52px 0;    
}

.movielens_star.prediction.right-half {
    background-position: -65px 0;  
}

.movielens_star.empty,
.movielens_star.hover-mode {
    background-position: 0 0;  
}
.movielens_star.empty.right-half,
.movielens_star.hover-mode.right-half {
    background-position: -13px 0;  
}

.movielens_star.hover {
    background-position: -26px 0 !important;
    cursor: pointer;
}

.movielens_star.hover.right-half {
    background-position: -39px 0 !important; 
    cursor: pointer;
}

